//Imports
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

// variables
$poppins: "Poppins", sans-serif;

// mixins
@mixin flex($dir) {
  display: flex;
  flex-direction: $dir;
  justify-content: center;
  align-items: center;
}

// reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-header {
  height: fit-content;
  padding: 20px 0;

  p {
    margin-top: -10px;
  }

  #header-div {
    margin: 10px 0;
  }

  h1:hover {
    animation: rotate 1s linear;
  }
}

h1 {
  font-family: "Big Shoulders Display", cursive;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 13px;
}
// rotator image
#rotator-image {
  opacity: 0.5;
  position: absolute;
  top: 20px;
  left: 30px;
  width: 100px;

  animation: rotate 1.5s linear infinite;
}

h5 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
}

h3 {
  margin-top: 30px;
  text-align: center;
}

hr {
  background-color: black;
  width: 50%;
  text-align: center;
}

.place-holder {
  height: 470px;
  margin: 0 10px;
  @include flex(column);
  //align-items: center;
  //justify-content: center;
  //width: 25%;

  &:hover {
    transform: scale(1.2, 1.2);
    transition-delay: 0.15s;
    transition-duration: 1s;
  }
}

.select-div {
  @include flex(column);
  width: 90%;
  #select-div {
    width: 100%;
  }
}

.cases-div {
  @include flex(row);
  justify-content: space-between;
  align-items: center;
  background-color: darkgreen;
  margin: 5px 0;
  width: 90%;
  padding: 5px 10px;
  border-radius: 15px;
  color: white;

  p {
    font-size: large;
  }

  .case-figures {
    font-size: 20px;
  }
}

.main-content-sub {
  @include flex(row);
  width: 50%;
}

.main-content {
  @include flex(row);
  align-content: space-around;
  background-color: #0dcaf0;
  margin-top: 20px;

  h5 {
    text-align: center;
  }
}

#safety-protocols {
  margin-top: 50px;
}

img {
  max-height: 250px;
  width: auto;

  &:hover {
    transform: scale(1.4);
    transition-delay: 0.15s;
    transition-duration: 1s;
  }
}

#safety-header {
  @include flex(column);
  margin-top: 30px;

  hr {
    background-color: black;
    width: 30%;
    height: 3px;
    text-align: center;

    &:hover {
      transition-delay: 0.5s;
      width: 40%;
    }
  }

  &:hover {
    hr {
      transition-delay: 0.15s;
      transition-duration: 1s;
      width: 40%;
    }
  }
}

.protocol1 {
  @include flex(row-reverse);
  //align-items: center;
  justify-content: space-around;
}

.protocol {
  @include flex(row);
  //align-items: center;
  justify-content: space-around;
  //margin: 30px 0;
  //padding: 30px 0;
}

.protocol,
.protocol1 {
  margin: 50px 0;
  padding: 30px 0;
  height: 280px;
  font-family: $poppins;
  font-weight: bolder;
  overflow: hidden;

  .gif-img {
    height: 250px;
  }
}

// ROTATES THE HEADER OF THE SITE THROUGH 360DEG
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

footer {
  @include flex(row);
  //align-items: center;
  #main-footer-container {
    @include flex(row);
    justify-content: center;
    align-items: center;
  }

  a {
    text-decoration: none;
  }
  height: 200px;
}

// MEDIA QUERY 880PX SCREEN WIDTH
@media screen and (max-width: 1080px) {
  .main-content {
    @include flex(column);
    width: 100%;
  }

  .main-content-sub {
    width: 100%;
  }

  .place-holder {
    width: 50%;
    margin-bottom: 30px;
    height: 630px;
    padding: 20px 0;

    &:hover {
      transform: none;
    }
  }
  .protocol,
  .protocol1 {
    .protocol-text {
      margin-bottom: 50px;
    }
  }
  .cases-div {
    @include flex(column);
    justify-content: left;
    //text-align: left;

    p {
      font-size: 23px;
    }

    .case-figures {
      font-size: 23px;
    }
  }

  #wash-img {
    width: 400px;
    margin-right: 10px;
  }
}

// MEDIA QUERY 650PX SCREEN WIDTH
@media screen and (max-width: 651px) {
  p {
    font-size: 25px;
  }

  .main-content-sub {
    @include flex(column);
  }

  .place-holder {
    width: 100%;
    background-color: white !important;
    height: fit-content;
    padding: 20px 0;

    &:hover {
      transform: none;
      //transform: scale(1);
      //transition-delay: 0.15s;
      //transition-duration: 1s;
    }

    //margin-bottom: 30px;
  }

  h1 {
    text-align: center;
    //letter-spacing: 25px;
  }

  .case-figures {
    font-size: 25px;
  }

  #rotator-image {
    top: 40px;
    left: 125px;
  }

  // #logo-img {
  //   border-radius: 50%;
  // }

  // .campany-logo {
  //   border-radius: 50%;
  // }

  .protocol1 {
    flex-direction: column-reverse;
    margin-bottom: 30px;
  }
  .protocol {
    //@include flex(row-reverse);
    flex-direction: column-reverse;
  }

  .protocol-text {
    text-align: center;
  }

  footer {
    @include flex(column);
    height: fit-content;
    #main-footer-container {
      @include flex(column);
      justify-content: center;
      margin: 30px 0;
    }
    a {
      text-decoration: none;
    }
  }
}
